Christopher Fuhrman <christopher.fuhrman@etsmtl.ca> <christopher.fuhrman@etsmtl.ca>
Christopher Fuhrman <christopher.fuhrman@etsmtl.ca> <fuhrmanator+git@gmail.com>
Olivier Brassard <brassard.oli@gmail.com>
Olivier Brochu <olivier.brochu.1@ens.etsmtl.ca> <olivier_brochu@hotmail.com>
Olivier Brochu <olivier.brochu.1@ens.etsmtl.ca> <olivier.brochu.1@ens.etsmtl.ca>
Samuel Lachance <leuchak@slachance.ca>
Tung <tungdoanduong@gmail.com>
William Lebel <william.leb@hotmail.com>
Yvan Ross <yvan.ross@gmail.com> <Yvan.ross@gmail.com>
dependabot[bot] <49699333+dependabot[bot]@users.noreply.github.com>
