{
  "cache": false,
  "check-coverage": false,
  "extension": [
    ".ts"
  ],
  "include": [
    "**/*.ts"
  ],
  "exclude": [
    "gulpfile.js",
    "src/index.ts",
    "dist/**",
    "coverage/**",
    "node_modules/**",
    "**/*.d.ts",
    "**/*.spec.ts",
    "**/*.test.ts"
  ],
  "sourceMap": true,
  "reporter": [
    "lcov",
    "text",
    "text-summary"
  ],
  "all": true,
  "instrument": true
}