html
  head
    title= title
    link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css')
    link(rel='stylesheet' href='/css/style.css')
    script()
  body

    div.container
      h1 ALLO

      button.index Retour à la page index

  <script src="//code.jquery.com/jquery-2.2.4.min.js"></script>
  <script src="//stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/lib/main.js"></script>

  Ajouter des taches pour creer une nouvelle page de vue dans le lab0.
  Ajouter un contenu dynamique dans une page avec mixin