//- index.pug
extends layout.pug

block stylesheets
  link(rel='stylesheet' href='/css/style.css')

block scripts
  script(defer, type="text/javascript" src="/lib/main.js")

block content
  h1 JeuDeDés-Node-Express-TS-TDD-LOG210

  if (messages.info)
    include ./composants/messages.pug

  include ./composants/forms/demarrerJeu.pug

  h3 Joueurs
  include ./composants/joueurs.pug

